TELEGRAM_BOT_TOKEN=
DEBUG_CHAT_ID=
FRONTEND_DOMAIN=
GUIDE_LINK_EN=
GUIDE_LINK_RU=
GUIDE_LINK_UK=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
USE_WEBHOOKS=false
WEBHOOKS_DOMAIN=
PORT=3001
