TELEGRAM_BOT_TOKEN=""
DEBUG_CHAT_ID=""

REDIS_URL="redis://localhost:5379"
DATABASE_URL="postgres://declutter_me:p4ssw0rd@localhost:5432/declutter_me"
FRONTEND_DOMAIN="http://example.com/frontend"
GUIDE_LINK_EN="http://example.com/guide-link-en"
DOMAIN="http://localhost:3001"

PORT="3001"
USE_WEBHOOKS="false"
USE_TEST_MODE="true"
LOG_DATABASE_QUERIES="false"
LOG_LEVEL="trace"
USE_NATIVE_ENV="false"
