#root {
    position: relative;
}

button.switch-theme-button {
    position: fixed;
    top: 20px;
    right: 20px;

    opacity: 0;
    animation: appear 0.5s ease-out forwards;
}

@media only screen and (max-width: 900px) {
    button.switch-theme-button {
        top: unset;
        bottom: 20px;
        right: 20px;
    }
}
