.template-builder__multiselect-chip {
    margin: 3px;
}

.template-builder {
    margin-top: 50px;
    margin-bottom: 50px;
}

.template-builder__form > *:not(:last-child) {
    margin-bottom: 20px;
}

.template-builder__field-name {
    text-transform: none !important;
}

.template-builder__template-field textarea {
    font-family: monospace;
}

.template-builder__token {
    border-radius: 0px !important;
}

.template-builder__token-example--variable {
    color: #3f51b5;
}

.template-builder__token-example--invalid {
    color: #f50057;
    text-decoration: wavy underline;
}
