.template-builder__multiselect-chip {
    margin: 3px;
}

.template-builder {
    margin-top: 50px;
}

.template-builder__form > *:not(:last-child) {
    margin-bottom: 20px;
}

.template-builder__field-name {
    text-transform: none !important;
}

.template-builder__template-field textarea {
    font-family: monospace;
}
